body{background: #F6BF4A;
      text-align:center;}
      img{
          width: 72%;
      }
.card{  background: grey;
        border-radius: 2em;
      }
#card{
        justify-content:space-around;
        display: flex;margin:2% }
.card:hover{
        box-shadow: 0 8px 8px 8px magenta;
          }
  @media only screen and (min-device-width:350px)and
            (max-device-width:450px) {
.card{width: 100%;}
  }
